.menu1 {
    width: 100%;
    text-align: center;
    margin-top: 0.5em;
    background-color: lightblue;
    padding: 0.5em;
    font-size: small;
    border-bottom: solid 1px lightgray;
}

.menu2 {
    width: 100%;
    text-align: center;
    padding: 0.5em;
    font-size: small;
    border-bottom: solid 1px lightgray;
}

.menu1Elem {
    /* display: block; */
}

.menutd {
    width: 25%;
}

.scanInput {
    border-radius: 5px;
    padding-left: 1em;
    border: none;
    height: 2em;
    width: 80%;
    outline: none;
    margin-top: 5px;
    box-shadow: 1px 1px 5px lightgray;
}