.linka {
    text-decoration: none;
    color: black;
}

.linka:visited {
    text-decoration: none;
    color: black;
}

.linka:link {
    text-decoration: none;
    color: black;
}

.linka:hover {
    text-decoration: none;
    color: black;
}


.listElem {
    margin: auto;
    width: 90%;
    box-shadow: 2px 2px 8px lightgray;
    border-radius: 25px;
    margin-top: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: rgb(254, 254, 254);
}

.bar {
    font-size: large;
}